.asideMenuContainer {
  display: flex;
  position:sticky;
  flex-direction: column;
  min-width: 20rem;
  text-align: start;
  padding:auto;
  max-height: 50rem;
  margin-right:3rem;
  z-index: 996;

  &-link {
    font-weight: 700;
    padding: 2rem;
    color: whitesmoke;
    font-size: small;
    margin: 1rem;
  }
  &-link:hover {
    box-shadow: 1px 1px rgb(105, 105, 228);
  }
}
