.footerContainer{
    height: 17rem ;
    border-top: 1px solid whitesmoke;
    h1{
        display: flex;
        justify-content: center;
        color: whitesmoke;
        padding-top: 4rem;
    }
}