.headerContainer {
  display: flex;
  position: sticky;
  justify-content: space-between;
  list-style-type: none;
  font-size: 2rem;
  font-weight: 500;
  padding-left: 5em;
  padding-right: 3.5em;
  padding-top: 2rem;
  border-bottom: 1px solid whitesmoke;
  align-items: center;
  &-btn {
    color: whitesmoke;
    padding: 1rem;
    border: 1.3px solid white;
  }
  &-nav {
    display: flex;
    justify-content: space-evenly;
    width: 30rem;
  }
  &-logoutBtn {
    background-color: transparent;
    border: 1.3px solid white;
    color: white;
    font-weight: 500;
    height: 4rem;
    width: 8rem;
    cursor: pointer;
  }
  &-btn:hover,
  &-logoutBtn:hover {
    box-shadow: -1px 7px 18px 0px #edebeb;
    transition: box-shadow 0.3s ease-in-out;
  }
}
