.cropperContent {
  max-width: 50rem;
  
    &-cropper {
      width: 5rem;
      float: right;
    }
    &-imageContainer {
      &-image {
        width: 40rem;
        border-radius: 10rem;
      }
    
      &-file {
        margin-bottom: 5rem;
      }
      &-fileInput {
        width: 30rem;
      }
      &-checkBox{
        label{
          display: flex;
        }
        &-defaultCheckBox {
        width: 35rem;
        padding-top: 5rem;
        font-size: large;
        color: #31675b;
        font-feature-settings: "smcp", "c2sc";
        font-variant: all-small-caps;
      }
    }
      &-cropperButton {
        float: right;
        margin-top: 10px;
      }
    }
   
}

// @media screen and (max-width:770px){
//   .image_crooper_container{
//     display: flex;
//     flex-flow: column;
//   }
//   .crooper-container{
//     width: 200px;
//     height: 250px;
//   }
//   .cropper{
//     height: 50%;
//   }
//   .cropped_image{
//     width: 70%;
//     border-radius: 20px;
//   }
//   .input_file {
//     width: 43%;
//   }
// }
