.userInfoBtn {
  button {
    float: left;
    margin-left: 7rem;
    font-weight: 600;
    background-color: green;
    border: 1px solid green;
    padding: 1rem;
    color: whitesmoke;
    cursor: pointer;
  }
  button:hover {
    box-shadow: -1px 7px 13px 0px rgba(148, 151, 221, 0.33);
    background-color: transparent;
    color: white;
    font-weight: 700;
  }
}
.profileContainer {
  padding: 2rem;
  font-size: 1.5rem;
  text-align: center;
  min-height: 80rem;

  h1 {
    color: whitesmoke;
  }
  &-link {
    button {
      background-color: transparent;
      border: none;
      font-weight: 700;
      color: whitesmoke;
      cursor: pointer;
      float: left;
      border-bottom: 1px solid white;
    }
  }
  &-welcomeContainer {
    margin: auto;
    max-width: 90%;
    padding: 1rem;
    font-weight: 600;
    font-size: 1.8rem;
    border: 1px solid wheat;
    display: flex;
    justify-content: center;
    p {
      max-width: 60%;
      color: white;
      letter-spacing: 1px;
    }
  }

  &-cardsContainer {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    margin: 2rem 2rem 2rem 2rem;
    align-items: center;

    &-card {
      display: flex;
      justify-content: space-around;
      flex-direction: column;
      margin: 1rem;
      min-width: 25rem;
      max-width: 30rem;
      background-color: #f5f5ff;
      height: 20rem;
      text-align: center;
      padding: 1rem;
      p {
        font-weight: 600;
      }
      button {
        align-items: center;
        margin-top: 2rem;
        color: rgb(42, 14, 94);
        font-weight: 500;
        padding: 1rem;
        background-color: transparent;
        border: 1px solid rgb(42, 14, 94);
        cursor: pointer;
      }
      button:hover {
        box-shadow: -1px 7px 13px 0px rgb(78 84 200 / 33%);
        background-color: #5c62cc99;
        color: white;
        font-weight: 700;
      }
    }
    &-card:hover {
      box-shadow: 2px 9px 13px 3px rgb(247 247 247 / 33%);
      transition: box-shadow 0.3s ease-in-out;
    }
  }
}
