@import '../../../assets/scss/styles/media-queries.scss';

.container-profile-page {
    width: 100%;
    padding-left: 4rem;
    padding-top: 3rem;
    margin-right: 10%;
    // background-color: #00c8aa;;
    z-index: 994;
    @include respond(more1800) {
        padding-right: calc(50% - 800px);
        margin-right: 0%;
    }
    @include respond(lower1500){
        width: 100%;
    }
    @include respond(lower1024) {
        margin-bottom: 25rem;
        width: 100%;
        padding: 0 10%;
        margin: 0;
        justify-content: space-between;
    }
}