$background : url('./../../../images/4770cf05fe96befcdcd74204ba533198.jpg');
.tempBlue {
  padding: 5rem;
  background-image: $background;
  background-image: linear-gradient(to bottom, rgba(223, 228, 244, 0.6) 0%,rgba(255, 255, 255, 0.6) 100%), $background;
  max-width: 90rem;
  max-height: 85%;
  text-align: center;
  color: darkblue;
  font-size: 1.3rem;
  margin: 1rem 10rem 0rem 10rem;
  &-prfl {
    border-bottom: 1px solid #007aff;
    padding-bottom: 3rem;
    display: flex;
    justify-content: space-between;

    h1 {
      color: #007aff;
      margin-top: 0;
      margin-bottom: 0.3rem;
      font-style: italic;
    }
    label {
      font-size: 1.5rem;
      color: #0056b3;
      font-weight: 600;
    }
    &-objective {
      display: flex;
      text-align: start;
      flex-direction: column;
      margin: auto;
      margin-top: 0px;
      word-break: break-all;
      max-width: 33rem;
      span {
        font-style: italic;
      }
    }
    &-image {
      margin: auto;
      padding-top: 2rem;
      img {
        border: 1px solid #178cfd;
        border-radius: 100rem;
      }
      svg {
        width: 14rem;
        height: 13rem;
        color: #5f7ca0;
        border: 1px solid #178cfd;
        border-radius: 100rem;
      }
    }
    &-info {
      display: flex;
      text-align: end;
      flex-direction: column;
      margin: auto;
      word-break: break-all;
      max-width: 30rem;
      align-self: center;
      span {
        padding: 0.5rem;
        svg {
          color: #007aff;
          margin-left: 1rem;
        }
      }
    }
  }

  &-cntnt {
    display: flex;
    justify-content: space-evenly;
    text-align: start;
    &-ltBox {
      word-break: break-all;
      max-width: 50%;
      margin-top: 3rem;
      flex-direction: column;
      margin-bottom: 7rem;
      margin-left: 1rem;
      padding-right: 5rem;
      &-experience {
        label {
          font-size: 2.5rem;
          border-bottom: 3px solid #178cfd;
          width: 100%;
          color: #007aff;
          font-weight: 600;
        }

        &-content {
          margin-top: 4rem;
          padding: 0;
          display: flex;
          margin-bottom: 4rem;
          flex-direction: column;
          border-bottom: 2px dotted #007aff;
          span:nth-child(1) {
            font-weight: 600;
            font-style: italic;
          }
          span:nth-child(2) {
            font-weight: 600;
            color: #007aff;
          }
          span:nth-child(3) {
            font-size: 1.3rem;
          }
          span:nth-child(4) {
            font-size: 1.2rem;
            padding-top: 1rem;
            margin-bottom: 1rem;
          }
          svg {
            color: #9f9fc7;
          }
        }
      }
      &-skills {
        margin-bottom: 5rem;
        label {
          font-size: 2.5rem;
          border-bottom: 3px solid #178cfd;
          width: 100%;
          color: #007aff;
          font-weight: 600;
        }
        &-list {
          display: -webkit-inline-box;
          justify-content: space-evenly;
          word-break: break-all;
          align-items: center;
          flex-direction: row;
          flex-wrap: wrap;
          p {
            border: 1px solid;
            font-size: 1.3rem;
            color: #007aff;
            font-weight: 600;
            padding: 1rem;
            margin-right: 0.4rem;
          }
        }
      }
    }
    &-rtBox {
      flex-direction: column;
      margin-top: 3rem;
      margin-bottom: 7rem;
      margin-right: 1rem;
      text-align: end;
      word-break: break-all;
      &-education {
        label {
          font-size: 2.5rem;
          border-bottom: 3px solid #178cfd;
          width: 100%;
          color: #007aff;
          font-weight: 600;
          p {
            margin-bottom: 1rem;
          }
        }
        &-content {
          margin-top: 3rem;
          padding: 0;
          display: flex;
          margin-bottom: 4rem;
          flex-direction: column;
          border-bottom: 3px solid white;
          span:nth-child(2) {
            color: #007aff;
          }
        }
      }
      &-languages {
        margin-bottom: 5rem;
        label {
          font-size: 2.5rem;
          border-bottom: 3px solid #178cfd;
          width: 100%;
          color: #007aff;
          font-weight: 600;
        }
        &-list {
          display: flex;
          justify-content: flex-end;
           word-break: break-all; 
          align-items: center;
          flex-direction: row;
          flex-wrap: wrap;
          p {
            border: 3px solid white;
            font-size: 1.3rem;
            color: #007aff;
            font-weight: 600;
            padding: 1rem;
            margin-right: 0.4rem;
          }
        }
      }
    }
  }
}
.logo {
  display: flex;
  justify-content: flex-end;
  margin-right: 2rem;
}
