.templateOne {
  padding: 5rem;
  overflow: auto;
  background-color: whitesmoke;
  max-width: 90rem;
  max-height: 78rem;
  text-align: center;
  color: darkblue;
  font-size: 1.3rem;
  margin: 1rem 10rem 0rem 10rem;
  &-profile {
    h1 {
      color: #007aff;
      margin-bottom: 0.3rem;
    }
    label {
      font-size: 1.5rem;
      color: #0056b3;
      font-weight: 600;
    }
    border-bottom: 1px solid #007aff;
    padding-bottom: 3rem;
    display: flex;
    justify-content: space-between;
    &-objective {
      display: flex;
      text-align: start;
      flex-direction: column;
      margin: auto;
      word-break: break-all;
      max-width: 33rem;
      padding-left: 4rem;
      input,
      textarea {
        margin: 0.5rem;
        border: none;
        color: #178cfd;
      }
      textarea {
        min-height: 10rem;
      }
      span {
        font-style: italic;
      }
    }
    &-image {
      margin: auto;
      padding-top: 2rem;
      svg {
        width: 14rem;
        height: 13rem;
        color: #5f7ca0;
        border: 1px solid #178cfd;
        border-radius: 100rem;
      }
    }
    &-info {
      display: flex;
      text-align: end;
      flex-direction: column;
      margin: auto;
      word-break: break-all;
      max-width: 30rem;
      align-self: center;
      span {
        padding: 0.5rem;
        margin-right: 3rem;
        svg {
          color: #007aff;
          margin-left: 1rem;
        }
      }
      input {
        margin: 0.2rem;
        border: none;
        color: #178cfd;
      }
    }
    button {
      display: flex;
      align-self:flex-end;
      align-items: flex-end;
      background-color: green;
      color: white;
      border: none;
      padding: 0.5rem;
    }
  }
  &-cvContent {
    display: flex;
    justify-content: space-between;
    text-align: start;

    &-leftBox {
      width: 55%;
      margin-top: 3rem;
      flex-direction: column;
      margin-bottom: 7rem;
      padding-left: 7rem;
      padding-right: 5rem;
      &-education {
        margin-top: 3rem;
      }
      &-experience,
      &-education {
        label {
          font-size: 2.5rem;
          border-bottom: 3px solid #178cfd;
          width: 100%;
          color: #007aff;
          font-weight: 600;
        }

        &-content {
          margin-top: 1rem;
          padding: 0;
          display: flex;
          flex-direction: column;
          span:nth-child(1) {
            font-weight: 600;
          }
          span:nth-child(2) {
            font-weight: 600;
            color: #007aff;
          }
          span:nth-child(3) {
            font-size: 1rem;
          }
          span {
            font-size: 1.6rem;
            padding: 0.3rem;
            // margin-left: 3.5rem;
            svg {
              color: #9f9fc7;
            }
          }
          ul {
            margin-left: 2rem;
            margin-top: 0;
            margin-bottom: 0;
            li {
              border-bottom: 1px solid rgb(207, 207, 207);
            }
          }
          button {
            max-width: 6rem;
            font-weight: 600;
            background-color: white;
            color: #007aff;
            border: 2px solid #007aff;
            padding: 0.5rem;
            cursor: pointer;
          }
          div {
            margin-bottom: 2rem;
            border-bottom: 3px solid white;
            button:nth-child(1) {
              margin-top: inherit;
              display: flex;
              justify-content: flex-start;
              padding: 0.5rem;
              color: rgb(165, 2, 2);
              border: 1px solid rgb(165, 2, 2);
            }
            form {
              margin-top: 2rem;
              display: flex;
              flex-direction: column;
              span {
                display: flex;
                input {
                  max-width: 14rem;
                  color: #007aff;
                  border: none;
                  margin: 0.4rem;
                  cursor: pointer;
                }
              }
              input {
                color: #007aff;
                border: none;
                margin: 0.4rem;
                cursor: pointer;
              }
              textarea {
                color: #007aff;
                border: none;
                margin: 0.4rem;
                cursor: pointer;
              }
              div {
                display: flex;
                justify-content: flex-start;
              }

              button:nth-child(1) {
                max-width: 6rem;
                margin-top: 1rem;
                font-weight: 600;
                background-color: white;
                color: green;
                border: 2px solid green;
                padding: 0.5rem;
                cursor: pointer;
              }
            }
          }
        }
      }
    }

    &-rightBox {
      flex-direction: column;
      margin-top: 3rem;
      margin-bottom: 7rem;
      margin-right: 6rem;
      div {
        form {
          p {
            button:nth-child(1) {
              color: rgb(177, 3, 3);
              background-color: transparent;
              border: 1px solid rgb(105, 0, 0);
              cursor: pointer;
            }
          }
          div {
            display: flex;
            // justify-content: end;
            button {
              color: green;
              cursor: pointer;
            }
          }
        }
      }
      &-skills,
      &-languages {
        label {
          font-size: 2.5rem;
          border-bottom: 3px solid #178cfd;
          width: 100%;
          color: #007aff;
          font-weight: 600;
          margin: 4rem;
        }
      }
      &-skills,
      &-languages {
        &-list {
          display: flex;
          flex-direction: column;
          .addBtn{
            border-color: blue ;
          }
          div {
            form {
              p {
                display: inline-flex;
                flex-direction: row;
                font-size: 2rem;
                padding: 0.8rem;
                margin-left: 2.5rem;
                border: 1px solid #228afb;
                color: #228afb;
              }
              span {
                display: flex;
              }
              input {
                border: none;
                background-color: transparent;
                color: #007aff;
              }
              button{
                font-weight: 600;
                text-align: center;
                color: green;
                cursor: pointer;
              }
              margin-left: 1.2rem;
            }
          }
        }
      }
    }
  }
}
.logo {
  display: flex;
  justify-content: flex-end;
  margin-right: 2rem;
}
