.headerContainer{
    display: flex;
    position: sticky;
    justify-content: space-between;
    list-style-type: none;
    font-size: 2rem;
    font-weight: 500;
    padding-left: 5em;
    padding-right: 3.5em;
    padding-top: 2rem;
    border-bottom: 1px solid white;
    align-items: center;
    a{
        color: white;
    }
}